body {
    background-color: blanchedalmond;
}

#effets div {
    background: red;
    height: 100px;
    margin: 2px;
}

/*les trois boites*/
#tests div {
    background: red;
    height: 100px;
    margin: 2px;
}

/*la boite test*/
#animate div {
    background: red;
    height: 100px;
    margin: 2px;
}

.alerte{
    color:red;
}

/*la boite test*/
#maBoite{
    background: red;
    height: 100px;
    margin: 2px;
}

.highlight{
    background-color: yellow;
}

.bordure{
    border:5px solid black;
}

.vert{
    background-color: green !important;
}

/*Aucune image est visible*/
#photos div img{
    display: none;
    filter: sepia(1);
}

#photos nav ul{
    list-style: none;
    padding: 0;
}

#photos nav li{
    margin-bottom: 10px;
}

/*images ne peuvent pas avoir plus de 100% de leur container*/
#photos nav li img{
    max-width: 100%;
    height: auto;
    filter: blur(1px);/*flou*/
    filter: grayscale(1);/*Noir et blanc*/
    filter: brightness(140%);
    filter: invert(1);/*inverse les couleur*/
}

#photos nav li img:hover{
    filter: blur(0);/*l'enlever au survol*/
    filter: grayscale(0);/*Noir et blanc*/
    filter: invert(0);
    filter: brightness(0);
}